.mode{
  background-color: rgb(114, 229, 245);
  text-align: right;
  font-size: 1.2em;
  margin: -8px;
  padding-right: 1%;
  padding-bottom: 0.5%;
  margin-bottom: auto;

}
.nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /*border: solid blue 2px;*/
  background-color: rgb(114, 229, 245);
  min-height: 50px;
  align-items: center;
  margin: -8px;
  margin-bottom: auto;
  font-size: 1.3em;
}
.navItem{
  border-left: black 1px solid;
  border-right: black 1px solid;
  padding: 10px;
}
.navItem:active{
  background-color: rgb(44, 121, 131);
}
a{
  text-decoration: none;
  color: rgb(0, 4, 255);
}
.list{
  font-size: 1.3em;
  border: teal 2px solid;
  border-radius: 8px;
  display: grid;
}
.listRow, .listRowStatic{
  border: teal 2px solid;
  display: inline-flex;
  flex-wrap: nowrap;
}
.listRowStatic{
  border-bottom: teal 5px solid;
}

.listCol{
  text-align: center;
  flex-wrap: nowrap;
  border-right: teal 4px solid;
  width: 100%;
}
.listCol:last-child{
  width: 120%;
  border-right: none;
}
.head{
  margin-left: 10%;
}
a.head{
  cursor: pointer;
}
.addForm, .editForm, .loginForm{
  border: teal 4px solid;
  border-radius: 8px;
  margin-left: 40%;
  margin-right: 40%;
  font-size: 1.5em;
  min-width: 200px;
}
.addForm *, .editForm *, .loginForm *{
  margin-left: 10%;
  margin-right: 20%;
}
input[type="radio"]{
  margin: auto;
}
label[for="male"],label[for="female"]{
  margin-right: auto;
}

.doneBtn{
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 30%;
  height: auto;
  width: auto;
  font-size: 0.8em;
}
.details{
  margin-left: 40%;
  margin-right: 40%;
  font-size: 1.5em;
  border: solid gray 2px;
  border-radius: 8px;
  padding: 10px;
  min-width: 130px;
  
}
.data{
  border: solid gray 2px;
  border-radius: 8px;
  text-align: center;
}
.noDer{
  color: #000;
  text-decoration: none;
}